:root {
  --radius: 0.40rem;
  --background: rgb(255, 255, 255);
  --foreground: rgb(9, 9, 11);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(9, 9, 11);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(9, 9, 11);
  --primary: rgb(43, 127, 255);
  --primary-foreground: rgb(239, 246, 255);
  --secondary: rgb(244, 244, 245);
  --secondary-foreground: rgb(24, 24, 27);
  --muted: rgb(244, 244, 245);
  --muted-foreground: rgb(113, 113, 123);
  --accent: rgb(244, 244, 245);
  --accent-foreground: rgb(24, 24, 27);
  --destructive: rgb(231, 0, 11);
  --border: rgb(228, 228, 231);
  --input: rgb(228, 228, 231);
  --ring: rgb(43, 127, 255);
  --chart-1: rgb(245, 73, 0);
  --chart-2: rgb(0, 150, 137);
  --chart-3: rgb(16, 78, 100);
  --chart-4: rgb(255, 185, 0);
  --chart-5: rgb(254, 154, 0);
  --sidebar: rgb(250, 250, 250);
  --sidebar-foreground: rgb(9, 9, 11);
  --sidebar-primary: rgb(43, 127, 255);
  --sidebar-primary-foreground: rgb(239, 246, 255);
  --sidebar-accent: rgb(244, 244, 245);
  --sidebar-accent-foreground: rgb(24, 24, 27);
  --sidebar-border: rgb(228, 228, 231);
  --sidebar-ring: rgb(43, 127, 255);
}

.dark {
  --background: rgb(9, 9, 11);
  --foreground: rgb(250, 250, 250);
  --card: rgb(24, 24, 27);
  --card-foreground: rgb(250, 250, 250);
  --popover: rgb(24, 24, 27);
  --popover-foreground: rgb(250, 250, 250);
  --primary: rgb(21, 93, 251);
  --primary-foreground: rgb(28, 57, 142);
  --secondary: rgb(39, 39, 42);
  --secondary-foreground: rgb(250, 250, 250);
  --muted: rgb(39, 39, 42);
  --muted-foreground: rgb(159, 159, 169);
  --accent: rgb(39, 39, 42);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(255, 100, 103);
  --border: rgba(255, 255, 255, 0.102);
  --input: rgba(255, 255, 255, 0.149);
  --ring: rgb(20, 71, 230);
  --chart-1: rgb(20, 71, 230);
  --chart-2: rgb(0, 188, 125);
  --chart-3: rgb(254, 154, 0);
  --chart-4: rgb(173, 70, 255);
  --chart-5: rgb(255, 32, 86);
  --sidebar: rgb(24, 24, 27);
  --sidebar-foreground: rgb(250, 250, 250);
  --sidebar-primary: rgb(21, 93, 251);
  --sidebar-primary-foreground: rgb(28, 57, 142);
  --sidebar-accent: rgb(39, 39, 42);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgba(255, 255, 255, 0.102);
  --sidebar-ring: rgb(20, 71, 230);
}