---
import "@styles/scss/variables.scss";
import "@styles/scss/button.scss";
---

<div class="dark">
  <h1>Dark Mode</h1>
  <label for="btn1">Default</label>
  <button id="btn1" class="btn">Click Me</button>
  <br />
  <br />
  <label for="btn1">Secondary</label>
  <button id="btn1" class="btn" data-variant="secondary">Click Me</button>
  <br />
  <br />
  <label for="btn1">Outline</label>
  <button id="btn1" class="btn" data-variant="outline">Click Me</button>
</div>
